.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 0 3rem;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
}


/* THEMES */
.navbar.light {
    background-color: #03627E;
}
.navbar.dark {
    background-color: #222125;
}

/* SECTIONS */
.nav-left {
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.nav-center {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* LOGO */
.logo {
    text-decoration: none;
    color: #dae3d9;
    font-size: 1.8rem;
    font-weight: bold;
}
/* LINKS */
.nav-center a {
    text-decoration: none;
    color: #dae3d9;
    font-size: 1.6rem;
    position: relative;
    transition: all 0.25s ease;
}

/* HOVER EFFECT */
.nav-center a:hover, .logo:hover {
    color: #ffffff;
    text-shadow: 0 0 8px rgba(255,255,255,0.6);
    transform: translateY(-2px);
}

/* underline animado */
.nav-center a::after, .logo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

.nav-center a:hover::after, .logo:hover::after {
    width: 100%;
}

/* SOURCE LINK (icon + text) */
.source-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* ICONOS */
.icon {
    width: 28px;
    height: 28px;
}

/* BOTONES LIMPIOS */
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* CONTENEDORES DE ACCIONES */
.nav-actions {
    display: flex;
    align-items: center;
}