/*Mobile base design*/
.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    height: 38vh;
    padding: 6rem 0.2rem;
}

.pv-dark{
    background: #272729;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.pv-light{
    background: #1b8df7;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.devname {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devname h1 {
    color:#EDDEE0;
    font-size: 2.5rem; 
    cursor:default;
}

.devname h2 { 
    font-size: 2.5rem; 
    color: rgb(248, 246, 138);
    cursor:default;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}

.dual-pj-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 430px;
    
}

.txtc-dark {
    color: #b6b6b6;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.txtc-light {
    transition: background-color 0.5s ease, color 0.5s ease;
}





.devname h1:hover, h2:hover {
    text-shadow: 0 0 8px rgba(255,255,255,0.6);
    transition: all 0.25s ease;
}

.preview  span p {
    color:#beb3b4; 
    font-size: 20px;  
    cursor:default;
}

.preview  span p:hover {
    text-shadow: 0 0 8px rgba(255,255,255,0.6);
    transition: all 0.25s ease;  
}

.buttons-contact {
    display: flex;
    gap: 1rem;
}

.btn:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    transition: all 0.25s ease;  
}
