/*Mobile base design (iphone 14pro max*/
.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    height: 40vh;
    padding: 6rem 0.2rem;
}

.pv-dark{
    background: #272729;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.pv-light{
    background: #86bbec;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.devname {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devname h1 {
    color:#2e2a2a;
    font-size: 2.3rem; 
    cursor:default;
    transition: color 0.3s ease;
}

.devname .h1-stl-dark {
    color:#EDDEE0;
    transition: color 0.3s ease;
}

.devname h2 { 
    font-size: 2.3rem; 
    color: rgb(61, 61, 55);
    cursor:default;
    transition: color 0.3s ease;
}

.devname .h2-stl-dark {
    color: rgb(248, 246, 138);
    transition: color 0.3s ease;
}

.preview  span p {
    color:#3a3637; 
    font-size: 20px;  
    cursor:default;
    transition: color 0.3s ease;
}

.preview .spanp-stl-dark p {
    color: rgb(248, 246, 138);
    transition: color 0.3s ease;
}



.buttons-contact {
    display: flex;
    gap: 1rem;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    gap: 8rem;
}

.txtc-dark {
    color: #b6b6b6;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.txtc-light {
    color: #dae3d9;
    transition: background-color 0.5s ease, color 0.5s ease;
}


.dual-pj-card {
    display: flex;
    flex-direction: column-reverse;
    max-width: 412px;
    max-height: 840px;
    margin-top: 5rem;
}

@media (min-width: 1024px) {

.preview { 
    height: 45vh;
}
.devname h1, .devname h2 {
    font-size: 3rem; 
}

.dashboard {
    margin-top: 4rem;
    gap: 4rem;
}

.dual-pj-card {
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    min-width: 80%;
    max-height: 500px;
}




.preview  span p:hover {
    text-shadow: 0 0 8px rgba(255,255,255,0.6);
    transition: all 0.25s ease;  
}

.btn:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    transition: all 0.25s ease;  
}

.devname h1:hover, h2:hover {
    text-shadow: 0 0 8px rgba(255,255,255,0.6);
    transition: all 0.25s ease;
}
}




