.inner-information {
    margin-top: 1.3px;
    display: flex;
    flex-direction: column;
    width: 100%;  
}

.up-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: #317185; 
    border-radius: 25px;
} 

.stl-dark {
    background: rgba(0, 0, 0, 0.2); 
}
.main-pj-title {
    
    font-size: 26px;
    font-weight: 400;
    color: rgb(37, 37, 37);
    text-shadow: 0 0 1px rgb(22, 23, 73);

}

.ttl-dark {
    color: rgb(248, 246, 138);
}  


.view-actions {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    background-color: #dae3d9;
    margin-bottom: 0.5rem;
}

.actn-dark {
    background-color: rgb(33, 33, 33);
}


.btn-mini-cr {
    font-size: 18px;
    
}

.view-actions .btn-action {
    border: none;
    font-weight: 700;
    color: #3a3637;
    height: 100%;
    margin: 0 0.3rem;
    font-size: 16px;
}

.view-actions .actnav-dark {
    color: rgb(178, 178, 178);
} 

.btn-action {
  opacity: 0.6;
  transition: 0.2s;
}

.btn-action .mini-active {
  text-shadow: 0 0 10px #3a3637;
  opacity: 1;
  /*transform: scale(1.05);*/
}


.view-actions i { 
    opacity: 0.7;
    color: #3a3637;
}

.actn-dark i {
    color: rgb(154, 152, 152);
}




.card-screem {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 200px;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 15px;
    padding: 1rem;
    gap: 10px; 
    overflow-y: auto;
}


.view-tecnologies {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 3px;
    padding: 0.1rem;
    margin-bottom: 10px;
    color: #EDDEE0cc;
}

.view-tecnologies p {
    font-size: 15px;
    
}

.btn-reviewCode{
    background-color: #317185; 
    display: flex;
    gap: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 4px white;
}

.lt-dark {
    background-color: #daccaf;
}


.btn-reviewCode button {
    color: #EDDEE0cc;
    margin: 10px;
}

.lt-dark button {
    color:#1d3460;
}


.btn-reviewCode button:hover {
    text-shadow: 0 0 5px white;
}

.card-screem::-webkit-scrollbar {
    width: 8px;
}

.card-screem::-webkit-scrollbar-track {
    background: transparent; 
}

.card-screem::-webkit-scrollbar-thumb {
    background-color: rgb(75, 75, 75); 
    border-radius: 10px;
}

.card-screem::-webkit-scrollbar-thumb:hover {
    background-color: rgb(120, 120, 120);
}

@media (min-width: 1024px) {

.inner-information {
    display: flex;
    flex-direction: column;
    max-width: 100%;  
    height: 472px;
    
}

.up-inner {
    gap: 1.1rem;

}   

.card-screem {
    width: 600px;
    
}

.view-tecnologies { 
    max-width:90%;
    justify-content: space-around;
    
}

.view-tecnologies p {
    font-size: 18px;
    
}

.view-actions i:hover { 
    text-shadow: 0 0 10px rgba(255,255,255,1);
    transition: all 0.25s ease;
}

.view-actions .btn-action:hover {
    
    text-shadow: 0 0 10px rgba(255,255,255,1);
    transition: all 0.25s ease;
}



}