.btn {
    border: none;
    width: 30px;
    height: 3rem;
}

.btn-light {
    background-color: rgb(30, 30, 53);
    color: rgb(199, 199, 199);
}

.btn-dark {
    background-color: antiquewhite;
    color: darkslateblue;
}