* {
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Newsreader", serif;
    
}

body.light {
    background: #EDDEE0;   
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark {
    background: #202023;   
    transition: background-color 0.5s ease, color 0.5s ease;
}